<title>Shared To-Do App</title>
<div class="container">
  <div class="row">
    <div class="span4">

      <h1>Shared To-Do App</h1>
      <hr>
<div class="well">
  <p>Add something</p>
  <form>
    <input type="text" name=new_todo placeholder="WIP - enter new todo here"></input>
    <input type="submit">
  </form>
</div> <!-- end input well -->
      <h3>All your to-dos here</h3>
      <div class="well">

        <% @todo_items.each do |t| %>
          <li> <%= t.todo_item %> </li>
        <% end %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->

<%= link_to "Delete last todo", delete_path %>

</div> <!-- container -->
